<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/" title="home">home</a></li>
		<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> -->
		<li class="{{ page.notes }}"><a href="/notes" title="notes">notes</a></li>
		<li class="{{ page.contact }}"><a href="/people" title="people">people</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Gregor Siegmund</a></h3>
	<p><small><a href="http://blogs.cornell.edu/geberlab/" title="Geber Lab">Geber Lab</a></small>&nbsp;&nbsp;&nbsp;<small><a href="http://ecologyandevolution.cornell.edu" title="Department of Ecology and Evolutionary Biology at Cornell">Cornell EEB</a></small></p>
</div> <!-- /header -->
