<div class="header">
	 <h1>
                        <a href="/~asampson/">Adrian Sampson</a>
                    </h1>
                    <address>
                        <a href="http://www.cs.cornell.edu/">Department of
                            Computer Science</a>
                        <a href="http://www.cornell.edu/">Cornell University</a>
                    </address>
                </div>
                <nav>
                    
                    
                    <a
                        
                        href="/~asampson/">
                        home
                    </a>
                    
                    <a
                        
                            class="active"
                        
                        href="/~asampson/research.html">
                        research
                    </a>
                    
                    <a
                        
                        href="/~asampson/teaching.html">
                        teaching
                    </a>
                    
                    <a
                        
                        href="/~asampson/blog/">
                        blog
                    </a>
                    
                    <a
                        
                        href="/~asampson/contact.html">
                        contact
                    </a>
                    
                </nav>
	
</div> 
<!-- /header -->

                   
