
<div class="header">
  <div>
    <nav> 
      <h3 class="text-muted"><a href="/">Gregor Siegmund</a></h3>
      <div class="address">
	<span class="hleft"><a href="http://blogs.cornell.edu/geberlab/" title="Geber Lab">Geber Lab</a></span>
	<span class="hleft"><a href="http://ecologyandevolution.cornell.edu" title="Department of Ecology and Evolutionary Biology at Cornell">Ecology and Evolutionary Biology @ Cornell</a></span>
      </div>
      <div class="address">
	<span class="hleft"><a href="/" title="home">home</a></span>
	<span class="hleft"><a href="/products" title="products">products</a></span>
	<span class="hleft"><a href="/links" title="links">links</a></span>
	</div>
    </nav>

  </div>
  
  
</div> <!-- /header -->
